<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^backend backend/index.php [L]
	RewriteRule ^h5 h5/index.php [L]
    RewriteRule ^api api/index.php [L]
</IfModule>